# Игнорируем базу данных и ее временные файлы
notes.db
notes.db-shm
notes.db-wal

# Игнорируем папки сборки (они весят много и не нужны на GitHub)
bin/
obj/

# Игнорируем файлы настроек VS Code
.vscode/